extends layout

block content
	.row.center.extra-padding
		.container.col-xs-8.col-xs-offset-2
			h1 List of Countries
	.row.center.extra-padding
		.container.col-xs-8.col-xs-offset-2
			ul#countries
