extends layout

block content
	.row.center.extra-padding
		.container.col-xs-8.col-xs-offset-2
			h1 Ajax Countries
	.row.center.extra-padding
		.container.col-xs-8.col-xs-offset-2
			p
				a.btn.btn-info#load-countries LOAD COUNTRIES